{% extends 'base.html' %}

{% block title %}Список категорій{% endblock %}

{% block content %}
  <section class="container">
    <h1 class="text-center mt-5">Список усіх категорій на сайті</h1>

    {% if object_list.exists %}
      <div class="row row-cols-sm-2 row-cols-md-3 g-3 mt-3">
        {% for category in object_list %}
          <div class="col">
            <div class="card shadow-md" style="border: 1px solid #{{ category.color }};">
              <div class="bd-placeholder-img card-img-top category-list-image"
                   style="background-image: url('{{ category.preview.url }}')"></div>
              <div class="card-body">
                <p class="card-text">{{ category.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="{% url 'blog:category_detail' category.id %}"
                     class="btn btn-sm btn-outline-secondary">Перегляд</a>
                  <small class="text-muted">{{ category.posts.count }} постів</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h2 class="text-center text-muted mt-5">Категорій не знайдено</h2>
    {% endif %}
  </section>
{% endblock %}
