{% load static django_bootstrap5 %}
<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Курсова робота | Реєстрація</title>
  <link rel="stylesheet" href="{% static 'lib/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
</head>
<body>
  <main class="register-form-container">
    <div>
      <h1 class="text-center">Реєстрація</h1>

      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Зареєструватися</button>
          <a href="{% url 'blog:index' %}" class="btn btn-secondary">Повернутися до головної</a>
        </div>

        <a href="{% url 'admin:index' %}" class="btn btn-link d-block text-center mt-2">Вже зареєстровані?</a>
      </form>
    </div>
  </main>

  <script src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
